.App {
  text-align: center;
  margin-top: 50px;
}

.todo-container {
  width: 700px;
  margin: 0 auto;
}

.todo-form {
  display: flex;
  margin-bottom: 10px;
}

.todo-form input {
  flex: 1;
  padding: 8px;
  outline: none;
  border: 1px solid black;
  border-right: none;
}

.todo-form button {
  border-radius: 0;
  /* padding: 8px;
  margin-left: 5px; */
}

.btn-primary:focus{
  box-shadow: none !important;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.todo-list button {
  padding: 5px 10px;
  margin-left: 5px;
}

.todo-list li:hover {
  background-color: #e2e6ea;
}

.action-btn{
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 5px;
}

